.root {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	container-name: page;
	container-type: inline-size;
}

.page {
	z-index: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: clamp(272px, 80%, 1000px);
	height: clamp(272px, 80%, 1000px);
	box-sizing: border-box;
}

@container page (min-width: 400px) {
	.page {
		width: clamp(300px, 60%, 1000px);
		height: clamp(300px, 60%, 1000px);
	}
}

.header {
	display: flex;
	justify-content: center;
	background: #333c57;
	padding: 16px 0 8px;
	min-height: 80px;
	box-sizing: border-box;
	width: 100%;
}

.logo {
	width: 65%;
	max-width: 320px;
}

@container (min-width: 700px) {
	.logo {
		width: 50%;
		max-width: 420px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	max-height: 100%;
	flex: 1;
	background: #424e70;
	border-color: #333c57;
	border-width: 4px;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	padding: 8px;
	justify-content: space-between;
}
