.root {
	position: absolute;
	height: 200%;
	top: -25%;
	left: -25%;
	aspect-ratio: 1 / 1;
	z-index: -1;
	transform: rotate(-11deg);
	filter: saturate(1.2) blur(2px);
}

@media (orientation: landscape) {
	.root {
		width: 140%;
		height: auto;
	}
}

@media (orientation: portrait) {
	.root {
		height: 140%;
		width: auto;
	}
}

@media (orientation: portrait) and (min-width: 720px) {
	.root {
		height: 180%;
		width: auto;
		transform: rotate(-17deg);
	}
}

.segment {
	position: absolute;
	width: 50%;
	height: 50%;
}
